
* {
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: left;
  float:left;
  background:#f1f1f1 ;
}
.header {

  padding: 80px;
  text-align: center;
  background:#3b50b2;
  background-size: 100%;
  color: white;
}


.header h1 {
  font-size: 40px;
 font-family: Perpetua Titling MT ;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navbar ul {
display: inline-flex;
list-style: none;
color: #fff;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}



.navbar a:hover {
  background-color: #ddd;
  color: black;
}
 .sub-menu-1
{
display: block;
position:absolute;
background:rgb(3, 3, 3);
margin-top: 15px;
margin-left: -15px;

}

.navbar a.active {
  background-color: #666;
  color: white;
}



.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.side {
  -ms-flex: 20%; 
  flex: 20%;
  background-color:#d63447 ;
  padding: 10px;
  color:#f1f1f1
}


.main {   
  -ms-flex: 70%; 
  flex: 70%;
  padding: 20px;
  float:left;
  background-color:#005792;
  color:#fff;
}




.footer {
  padding: 20px;
  text-align: center;
  background: navy;
  color:#fff;
}


@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
.navbar ul li:hover .sub-menu-1{
display: block;
position: absolute;
margin-top: 15px;
margin-left: -15px;
}

}
.article{
  -ms-flex: 70%; 
  flex: 70%;
  background-color: white;
  padding: 20px;
  text-align: center;

}
.welread{
  -ms-flex: 70%; 
  flex: 70%;
  background-color: white;
  padding: 20px;
  text-align: justify;
  float:left;
}
.sidecontent{
  text-align: center;
}

p {
  text-align:left;
  text-indent: 50px;
  margin-left:25px ;
}



.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: r;
}


.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
 background-color: #3e8e41;
}
div.third {
  background: rgba(0, 128, 0, 0.6);
}
/* (A) STANDARD ROW HEIGHT */
.vwrap, .vitem {
  height: 30px;
  line-height: 30px;
}
 
/* (B) FIXED WRAPPER */
.vwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #eee;
}
/* (C) TICKER ITEMS */
.vitem { text-align: center; }
 
/* (D) ANIMATION - MOVE ITEMS FROM TOP TO BOTTOM */
/* CHANGE KEYFRAMES IF YOU ADD/REMOVE ITEMS */
.vmove { position: relative; }
@keyframes tickerv {
  0% { bottom: 0; } /* FIRST ITEM */
  30% { bottom: 30px; } /* SECOND ITEM */
  60% { bottom: 60px; } /* THIRD ITEM */
  90% { bottom: 90px; } /* FORTH ITEM */
  100% { bottom: 0; } /* BACK TO FIRST */
}
.vmove {
  animation-name: tickerv;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.vmove:hover { animation-play-state: paused; }




